/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f7f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
  padding-top: 250px; /* Added padding at the top */
}

#app {
  width: 100%;
  max-width: 800px;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  color: #007bff;
  text-align: center;
}

h2 {
  margin-bottom: 15px;
  color: #333;
  font-size: 20px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="text"],
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#registerForm,
#loginForm,
#postForm,
#searchForm {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#posts {
  margin-top: 20px;
}

.post {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.post p {
  margin-bottom: 10px;
  font-size: 16px;
}

.post button {
  width: auto;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #ffc107;
  color: black;
}

.post button:hover {
  background-color: #e0a800;
}

.post button:last-child {
  background-color: #dc3545;
}

.post button:last-child:hover {
  background-color: #c82333;
}
